body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background:linear-gradient(90deg, #ff00cc 0%,#333399 100% ); */
    background:linear-gradient(90deg, #f7ff00 0%,#db36a4 100% );
}
  
  .circle {
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    animation: min 10s linear infinite;
    background-color: white;

    
  }
  .Mid-dot{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color:black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .hour {
    position: absolute;
    width: 70px;
    height: 4px;
    top: 50%;
    left: 50%;
    background-color:black;
    transform-origin: left ;
    border-radius: 10px ;
    transform: translateY(0%) rotate(215deg);
    
  }
  
  .minute {
    position: absolute;
    width: 120px;
    height: 4px;
    top: 50%;
    left: 50%;
    background-color: black;
    transform-origin: left center;
    transform: rotate(-30deg) translateY(-50%);
    border-radius: 10px;
    
  }
  
  .second {
    position: absolute;
    width: 8.5rem;
    height: 0.2rem;
    top: 50%;
    left: 50%;
    background-color: blueviolet;
    transform-origin: left center;
    animation: sec 60s steps(60, end) infinite;
    border-radius: 50% 50% 50% 0;
    transform: rotate(0deg);
  }
  .back{
    position: absolute;
    top: 80%;
    left: 10%;
  }
  
  @keyframes sec {
    from {
      transform: translateY(-50%) rotate(0deg);
    }
    to {
      transform: translateY(-50%) rotate(360deg);
    }
  }
  
  