
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: auto auto ;
    height: 100vh;
   
}


.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
.grid-item1 {
    background-color: green;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-item2 {
    background-color: red;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-item3 {
    background-color: orange;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-item4 {
    background-color: slategray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
.droptarget {
  position: relative;
  left: 10%;
  top: 50px;
   width: 100px;
  height: 100px;
  font-size: 15px;
    border: 1px solid steelblue;
  }
.gettarget{
width: 100px;
height: 100px;
border: 1px solid steelblue;
position: relative;
left: 30%;
top: -50px;
  }

.btn{
  font-size: 15px;
  width: 100px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
 
}
.btn:hover{
  transform: scale(0.90);
}


video{
  width: 20vw;
  height: 30vh;
 
    /* border: 10px solid blueviolet; */
}