.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.coming:after {
  content: " .";
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0%, 100% {
    content: "";
  }
  25% {
    content: " .";
  }
  50% {
    content: " . .";
  }
  75% {
    content: " . . .";
  }
}
