*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.App{
   width: 40vw;
   height: 40vh;
  border-radius: 10px;
   overflow-y: scroll;
   border: 5px solid black;
  
   
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Text0{
  height: 8vh;
 position: relative;
border-radius: 10px;
  background: greenyellow;
}

.Text1,.Text2,.Text3,.Text4,.Text5,.Text6,.Text7{
  
  height: 8vh;
  background: greenyellow;
  position: relative;
 top:40px;
 border-radius: 10px;
}
