.paymentPage{
    background: rgba(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.FinalPaymentButton{
    background: rgba(159, 238, 198, 0.685);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
@media screen and (min-width:300px) and (max-width:650px){
    .paymentPage{
        width: 100% !important;
        background: rgba(255, 255, 255);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border-radius: 20px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
}